.card {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
  border-left: 10px solid gray;
}

.online {
  border-left-color: green;
}


.offline {
  border-left-color: red;
}

.alerta {
  border-left-color: orange;
}

.online span{
  background-color: green;
}

.offline span{
  background-color: red;
}

.alerta span{
  background-color: orange;
}